$primaryColor: #324596; 
$secondaryColor: #2a3a51;
$accentColor: #49ade8;
$greyColor: #ccc;
$menuColor: #3db7b3;
$fontColor: black;
$one: #f8c9bf;
$two: #f6a9b2;
$three: #dabcc3;
$four: #dac0dd;
$five: #c9d5e3;
$six: #bbca99;

$defaultFont:'Roboto Flex', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;