$primaryColor: #1d295f; 
$secondaryColor: #1d2b3d;
$accentColor: #3990c3;
$greyColor: #ccc;
$menuColor: #174947;
$fontColor: rgb(27, 27, 27);
$one: #f19583;
$two: #ef6070;
$three: #ba5b74;
$four: #694c6c;
$five: #334d6e;
$six: #5d653f;

$defaultFont:'Roboto Flex', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;